.fondo{
    background: rgb(242,203,203);
    background: linear-gradient(0deg, rgba(113,127,130,1) 50%, rgba(242,203,203,1) 50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  h1{
    font-size: 3rem;
  }
  h3{
    font-size: 80px;
  }
  .login-form{
    width: 100%;
    max-width: 430px;
    padding: 15px;
    margin: auto;
  }
  .formulario{
    margin-top: 22%;
  }
  .fondo__login{
    background-color: white;
    background-position: center center;
    width:100%;
    height: 100%;
    border-radius: 10px;
  }
  .titlo__login{
    font-family: 'Oswald', sans-serif;
    font-size: 3.2rem;
  }
  .input-text{
    height: 30px;
    padding: 10px;
  }
  .campo{
    margin-bottom: 1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1.8rem;
  }
  
  @media (min-width:768px) {
    .fondo__login{
      width:90%;
    }
  }
  
  @media (min-width:768px) {
    .formulario{
      margin-top: 13%;
    }
  }